    <li class="col-12 row" style="background-color: rgba(5, 40, 0, 0.5);">
        <p class="comment-content col-12 align-item-end text-left">{{comment}}</p>
        <span class="post-meta col-12 text-right"> Created by <span style="font-weight: bolder">{{account.username}}</span> on <span style="font-weight: bolder">{{fixDate createdAt}}</span></span>
    </li>