    <li class="col-12">
        <h3 class="post-title">{{title}}</h3>
        <span class="post-meta"> Created by <span style="font-weight: bolder">{{account.username}}</span> on <span style="font-weight: bolder">{{fixDate created_at}}</span></span>
        <p class="post-content">{{content}}</p>
    </li>