<section class="row justify-content-center align-items-center text-center">
    <h2 class="col-sm-12 col-md-8 form-header">Log In...</h2>

    <form class="col-12 row justify-content-center">
        <div class="col-12 row form-section">
            <label class="col-sm-12 col-md-4" for="login-email">Email: </label>
            <input class="col-sm-12 col-md-8" type="text" id="login-email"/>
        </div>

        <div class="col-12 row form-section">
            <label class="col-sm-12 col-md-4" for="login-password">Password: </label>
            <input class="col-sm-12 col-md-8" type="password" id="login-password"/>
        </div>

        <button class="col-sm-6 col-md-6 login-btn" type="submit">Log In</button>
    </form>

    <p class="toggle-phrase">If you don't have an account. Make one <a href="/signup">here.</a></p>
</section>

<script src="/javascript/login.js"></script>
