<section>
  <h2 class="form-header">Create New Post...</h2>

  <form class="row justify-content-center text-center">
    <div class="col-12 form-section">
      <label class="col-sm-12 col-md-3" for="post-title">Title:</label>
      <input class="col-sm-12 col-md-8" type="text" id="post-title" name="post-title" />
    </div>
    <div class="col-12 form-section">
      <label class="col-sm-12 col-md-3" for="post-content">Content:</label>
      <input class="col-sm-12 col-md-8" id="post-content" name="post-content" />
    </div>
    <button class="col-8 login-btn" type="submit">Create Post</button>
  </form>
</section>

<section>
  <h3 class="form-header text-right">...Your Post</h3>

  <ol class="row justify-content-end">
      {{#each posts}}
          {{> pop-posts}}
            <a href="/profile/edit/{{id}}" class="col-3 edit-btn" type="submit">Edit Post</a>
      {{/each}}
  </ol>
</section>

<script src="/javascript/add-post.js"></script>
