<div class="row justify-content-center align-items-center text-center">
    <h2 class="col-sm-12 col-md-8 form-header">Sign Up</h2>

    <form class="col-12 row">
        <div class="col-12 row form-section">
            <label class="col-sm-12 col-md-4" for="signup-username">Username: </label>
            <input class="col-sm-12 col-md-8" type="text" id="signup-username"/>
        </div>
        <div class="col-12 row form-section">
            <label class="col-sm-12 col-md-4" for="signup-email">Email: </label>
            <input class="col-sm-12 col-md-8" type="text" id="signup-email"/>
        </div>
        <div class="col-12 row">
            <label class="col-sm-12 col-md-4" for="signup-password">Password: </label>
            <input class="col-sm-12 col-md-8" type="password" id="signup-password"/>
        </div>
    </form>

    <p class="toggle-phrase">If you already have an account. Sign in <a href="/login">here.</a></p>
</div>